<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get the Avegare rating of a Category of movies</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/get-movie-recommendation">Recommend Movies</a></li>
            <li><a href="/get-average-rating">Average Rating</a></li>
            <li><a href="/new-movie-insert">Insert Movie With Director</a></li>
            <li><a href="/delete-movie">Delete Movie</a></li>
        </ul>
    </nav>
    <h1>Recommended Movies</h1>
    <form action="/get-average-rating" method="get">
        <label for="genre">Genre:</label>
        <input name="genre" type="text" id="genre"/>
        <br>
        <label for="tag">Tag:</label>
        <input name="tag" type="text" id="tag"/>
        <br>
        <button type="submit">Find</button>
    </form>
    
    {% if average_rating is not none %}
        <h2>Average Rating</h2>
        <p>The average rating for the specified criteria is: {{ average_rating }}</p>
    {% else %}
        <p>No average rating found for the specified criteria.</p>
    {% endif %}
</body>
</html>
