<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Database</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/get-movie-recommendation">Recommend Movies</a></li>
            <li><a href="/get-average-rating">Average Rating</a></li>
            <li><a href = "/new-movie-insert">Insert A New Movie</a></li>
        </ul>
    </nav>
    <h1>Welcome to the Movies Database</h1>
    <p>Use the navigation bar to explore the website.</p>
</body>
</html>
