<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get the Avegare rating of a Category of movies</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/get-movie-recommendation">Recommend Movies</a></li>
            <li><a href="/get-average-rating">Movie Rating</a></li>
            <li><a href="/new-movie-insert">Insert Movie</a></li>
            <li><a href="/rate">Rate</a></li>
            <li><a href="/tag">Tag</a></li>
            <li><a href="/delete-movie">Delete Movie</a></li>
        </ul>
    </nav>
    <h1>Movie Average Rating</h1>
    <form action="/get-average-rating" method="get">
        <label for="title">Movie Title:</label>
        <input name="title" type="text" id="title"/>
        <br>
        <button type="submit">Find</button>
    </form>
    
    {% if movies %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Average Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for title, year, average_rating in movies %}
            <tr>
                <td>{{ title }}</td>
                <td>{{ year }}</td>
                <td>{{ average_rating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>
