<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Movie</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/get-movie-recommendation">Recommend Movies</a></li>
            <li><a href="/get-average-rating">Movie Rating</a></li>
            <li><a href="/new-movie-insert">Insert Movie</a></li>
            <li><a href="/rate">Rate</a></li>
            <li><a href="/tag">Tag</a></li>
            <li><a href="/delete-movie">Delete Movie</a></li>
        </ul>
    </nav>
    <h1>Insert Movie</h1>
    <form action="/new-movie-insert" method="post">
        <label for="title">Movie Title:</label>
        <input name="title" type="text" id="title" required/>
        <br>
        <label for="year">Year:</label>
        <input name="year" type="number" id="year" required/>
        <br>
        <label for="imdb_picture_url">IMDB Picture URL:</label>
        <input name="imdb_picture_url" type="url" id="imdb_picture_url" required/>
        <br>
        <label for="director_name">Director Name:</label>
        <input name="director_name" type="text" id="director_name" required/>
        <br>
        <label for="genre">Genre:</label>
        <input name="genre" type="text" id="genre" required/>
        <button type="submit">Insert Movie</button>
    </form>
    <p>{{ response }}</p>
</body>
</html>
