<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/get-movie-recommendation">Recommended Movies</a></li>
            <li><a href="/get-average-rating">Movie Rating</a></li>
            <li><a href="/new-movie-insert">Insert Movie</a></li>
            <li><a href="/rate">Rate</a></li>
            <li><a href="/tag">Tag</a></li>
            <li><a href="/delete-movie">Delete Movie</a></li>
        </ul>
    </nav>
    <h1>Rate</h1>
    <form action="/rate" method="post">
        <label for="movie_id">Movie ID:</label>
        <input name="movie_id" type="text" id="movie_id" required/>
        <br>
        <label for="user_id">User ID:</label>
        <input name="user_id" type="text" id="user_id" required/>
        <br>
        <label for="rating">Rating:</label>
        <input name="rating" type="number" id="rating" required/>
        <br>
        <button type="submit">Rate Movie</button>
    </form>
    <p>{{ response }}</p>
</body>
</html>
