<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommended Movies</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/get-movie-recommendation">Recommend Movies</a></li>
            <li><a href="/get-average-rating">Average Rating</a></li>
            <li><a href="/new-movie-insert">Insert Movie With Director</a></li>
            <li><a href="/delete-movie">Delete Movie</a></li>
        </ul>
    </nav>
    <h1>Recommended Movies</h1>
    <form action="/get-movie-recommendation" method="get">
        <label for="genre">Genre:</label>
        <input name="genre" type="text" id="genre"/>
        <br>
        <label for="tag">Tag:</label>
        <input name="tag" type="text" id="tag"/>
        <br>
        <button type="submit">Find</button>
    </form>
    

    {% if movies %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Average Rating</th>
                <th>Genres</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for title, average_rating, genre, tags in movies %}
            <tr>
                <td>{{ title }}</td>
                <td>{{ average_rating }}</td>
                <td>{{ genre }}</td>
                <td>{{ tags }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>