<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommended Movies</title>
</head>
<body>
    <h1>Recommended Movies</h1>
    <form action="/get-movie-recommendation" method="get">
        <input name="genre" type="text" id="genre"/>
        <input name="tag" type="text" id="tag"/>
        <button type="submit">Find</button>
    </form>

    {% if movies %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Average Rating</th>
                <th>Genres</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for title, average_rating, genre, tags in movies %}
            <tr>
                <td>{{ title }}</td>
                <td>{{ average_rating }}</td>
                <td>{{ genre }}</td>
                <td>{{ tags }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>